name: RDP NGROK
on: workflow_dispatch

jobs:
  build:

    runs-on: windows-latest
    timeout-minutes: 9999

    steps:

    - name: 1. Download File Ngrok
      run: |
        Invoke-WebRequest https://raw.githubusercontent.com/AyGemuy/ngrok-rdp/main/resources/ngrok.zip -OutFile ngrok.zip
        Invoke-WebRequest https://raw.githubusercontent.com/AyGemuy/ngrok-rdp/main/resources/start.bat -OutFile start.bat
        Invoke-WebRequest https://raw.githubusercontent.com/AyGemuy/ngrok-rdp/main/resources/winrar.exe -OutFile winrar.exe

    - name: 2. Mengkstrak File Ngrok
      run: Expand-Archive ngrok.zip

    - name: 3. Menghubungkan Ke Akun Ngrok
      run: .\ngrok\ngrok.exe authtoken $Env:NGROK_AUTH_TOKEN
      env:
        NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}

    - name: 4. Mengaktifkan RDP
      run: |
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
        copy winrar.exe C:\Users\Public\Desktop\winrar.exe
        
    - name: 5. Membuat Tunnel
      run: Start-Process Powershell -ArgumentList '-Noexit -Command ".\ngrok\ngrok.exe tcp 3389"'

    - name: 6. LOGIN RDP  [CPU 2 Core - 7GB Ram - 256 SSD]
      run: cmd /c start.bat

    - name: 7. Install Winrar
      run: cmd /c C:\Users\Public\Desktop\winrar.exe winrar.exe /s
      
    - name: 8. Waktu Proses
      run: |
        Invoke-WebRequest https://raw.githubusercontent.com/AyGemuy/ngrok-rdp/main/resources/loop.ps1 -OutFile loop.ps1
        ./loop.ps1
